body,html{
    height: 100%;
    margin: 0;
}

.bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0)), url("../wallpaperbetter.jpg");   
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    backdrop-filter: blur(5px);
    height: max-content;
}

:root{
    --main-bg:#33c71fa9;
  }
  
input:focus{
    border-bottom: 1px solid var(--main-bg) !important;
    outline: none;
    transition: all .3s ease-in-out;
    transform-origin: left
}
  
.form-check-input:checked{
    background-color: var(--main-bg) !important;
    border-color: none;
}

#remember{
    margin-right: 8px;
}

#continue{
  background-color:#33c71fa9;
  border: none;
  transition: background .3s;
}

#continue:hover{
  background-color:#16bd00a9;
  border: none;
}

#facebook{
  background-color:#3b5898;
  border: none;
  transition: background .3s;
}

#facebook:hover{
  background-color:#26468b;
  border: none;
}

#google{
  background-color:#dd4b39;
  border: none;
  transition: background .3s;
}

#google:hover{
  background-color:#c9311e;
  border: none;
}

#apple{
  background-color:#000000;
  border: none;
  transition: background .3s;
}

#apple:hover{
  background-color:#00000088;
  border: none;

}