body,html{
    height: 100%;
    margin: 0;
}

.bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0)), url("../wallpaperbetter.jpg");   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(4px);
}

:root{
    --main-bg:#33c71fa9;
  }
  
  input:focus, button:focus{
    border: 1px solid var(--main-bg) !important;
    box-shadow:none!important;
  }
  
  .form-check-input:checked{
    background-color: var(--main-bg) !important;
    border-color: none !important;
  }
  
  .card, .btn, input{
    border-radius:0 !important;
  }

#continue{
  background-color:#33c71fa9;
}